.car__title {
  margin: 0;
  margin-bottom: 0.3rem;
  font-size: 1rem;
}

.car__visual-area {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 40px;
  padding-top: 0.5rem;
}

.car__img-wrapper {
  display: flex;
}

.car__img-wrapper::after {
  content: none;
}



.car--broken {
  opacity: 0.6;
  position: relative;
}

.car__svg-container {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
}

.car__svg-container svg {
  width: 3rem;
  height: 3rem;
  left: 0;
  /* transform: translateY(25%); */
  will-change: transform;
  transition: transform 0s linear;
}

.car--broken .car__svg-container::before {
  content: "💥";
  position: absolute;
  right: -35%;
  top: 35%;
  transform: translate(-50%);
  font-size: 30px;
  z-index: 10;
}

.car--broken .car__svg-container svg {
  rotate: 30deg;
  transition: transform 300ms ease;
}