 .car-form {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.2em;
 }

 .car-form .car__img-wrapper {
   width: auto;
   position: static;
 }

 .car-form button {
   padding: 3px 10px;
 }

 .car-form .car__img-wrapper::after {
   content: none;
 }

 .car-form .car__img-wrapper svg {
   position: static;
 }